{% extends "allauth/layouts/base.html" %}
{% load allauth account static %}

{% block body %}
  <div class="flex min-h-screen bg-[var(--color-page-bg)] text-[var(--color-text)]">
    <div class="flex-1 flex flex-col justify-center lg:pb-40 items-center p-4">
      <div class="w-full max-w-md">
        <div class="text-center mb-8">
          <h1 class="flex justify-center mb-2">
            {% include "users/components/brand_logo.html" with brand_size="large" %}
          </h1>

          <p class="text-[var(--color-text-muted)]">
            {% block content_title %}
            {% endblock content_title %}
          </p>

        </div>
        <div class="bg-[var(--color-surface)] rounded-lg p-8 shadow-lg">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
